.button{
    width: 100%;
    font-size: 16px;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 3px;
    list-style: none;
    border: none;
    cursor: pointer;
    /* margin: 0 1rem; */
    height: 48px;
    color: #fff;
}
.button.outline{
   background-color: transparent;
   color: orange;
   border: solid 1px orange;
}
@media (min-width:949px){
    button{
        /* width: 8rem; */
    }
}