button{
    /* border: none;
    background-color: #002f34;
    color: #fff; */
    /* padding: 10px 20px; */
    /* border-radius: 5px;
    min-width:200px ;
    height: 52px; */
    /* padding: 10px; */
    /* border-radius: 10px;
    font-size: 16px; */
    /* display: none; */
    font-size: 16px;
    background-color: #4fbdba;
    padding: 10px 20px;
    border-radius: 3px;
    list-style: none;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
    height: 48px;
    color: #fff;
}
@media (min-width:949px){
    button{
        width: 8rem;
        
    }
}