 @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap');

.nav-header {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;

}
.logo{
    font-size: 22px;
    font-weight: 600;
    
}

.ul{
  /* display: none;
  width:100%; */
  /* height:50vh; */
  /* background-color:#AEFEFF;
  flex-direction:column;
  align-items:center;
  justify-content: space-around;
  z-index:1; */
}
.header-list{
  display: none;
  padding: 0;
}
ul {
    list-style: none;
}
.icon-burger {
  color: rgb(104 96 96);
  cursor: pointer;
  font-size: 30px;
  font-weight: 500;
}
.input-search{
    /* display: block; */
    width: 70%;
    padding: 10px;
    border-radius: 5px;
    border: solid rgb(193 191 191) 0.5px;
    height: 32px;
    margin-top: 5px;
    box-sizing: border-box;
}
@media (min-width: 576px) {


  .ul-items {
    display: flex;
    margin: 0 10px;
  }

  /* nav{
      margin-left: 50px;
  } */
}
@media (min-width: 768px) {
  .icon-burger{
      display: none;
  }
  .header-list{
    display: flex;
    justify-content: space-between;
  }
  .input-search{
    height: 47px;
    width: 60%;
  }
  .logo{
    font-size: 32px;
  }

}