.input{
    display: block;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 16px;
    border: none;
    border-bottom:solid #e1e1e1 3px;
    border-radius: 3px;
    /* border: solid rgb(193 191 191) 0.5px; */
    /* height: 52px; */
    margin-top: 5px;
    box-sizing: border-box;
    background: none;
}
.input:focus{
    outline: none;
}