.container-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: rgba(0,47,52,.03);
}

.container-header__logo{
    margin: 0;
    font-weight: 700;
    font-size: 26px;
      /* font-family: 'Open Sans', sans-serif; */
}
.container-header__btn-login{
    background: none;
    border: none
}
.container-header__login--ingresar{
    color: #002f34;
    text-decoration: underline #002f34;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    cursor: pointer;
}
  /* .container-header__btn-login{
        display: none;
    } */

@media (min-width:570px){
    .container-header{
        justify-content: space-evenly;
    }
    .container-header__logo{
        font-size: 34px;
    }
    .container-header__login--ingresar{
        font-size: 24px;
    }
 /* .container-header__btn-login{
        display: block;
    }
   */
 
}