.form-sell{
    width: 100%;
    
}
.fielset-sell{
    margin-bottom: 50px;
}
.cotainer-input--file{
    background-color: #4c5a99;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  width: 75%;
  margin: auto;
  
}
.input-file{
    cursor: pointer;
}
.ul-file{
     display: flex;
     /*
    flex-direction: row;
    justify-content: space-around;
    align-items: center; */
    /* min-height: 400px; */
    box-sizing: border-box;
    max-width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    
}
.ul-file__items{
    max-width: 40%;
}