@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Slab:wght@600;700&family=Roboto:wght@300;400;500;700&display=swap");

*{
  /* margin: 0; */
  padding: 0;
}
.nav-header {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
  background-color: #4c5a99;
}
.logo {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
.nav-header a {
  text-decoration: none;
}

.ul {
  /* display: none; */
  box-sizing: border-box;
  position: fixed;
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly; */
  align-items: center;
  width: 75%;
  height: 100vh;
  background-color: #21325E;
  top: 0;
  left: -100%;
  transition: ease-in 0.5s;
  list-style: none;
  z-index: 4;
}
.ul__container--li-buttons{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 50px auto 40px auto;
}
.list_items {
  color: #fff;
  font-size: 18px;
  /* line-height: 50px; */
  /* margin-top: 30px; */
}

.icon-bars{
  color: #fff;
  font-size: 40px;
}
.icon-cross{
  color:#fff;
  font-size: 30px; 
  z-index: 5;
}
.ul__icons{
  color: #fff;
  padding-left: 20px;
  margin-right: 20px;
}
.ul__container--items{
  display: flex;
  width: 100%;
  align-items: center;
  margin: 15px 0;
}

@media (min-width: 576px) {
  .nav-header {
    justify-content: space-around;
  }
  .ul-items {
    display: flex;
    margin: 0 10px;
  }
}
@media (min-width: 768px) {
  .icon-burger {
    /* display: none; */
  }
  .ul {
    display: flex;
    /* justify-content: space-between; */
  }

  .logo {
    font-size: 32px;
  }
}
.details{
  color: #fff;
  padding: 5px 10px 5px 30px;
  transition: all 0.9s ease-in-out ;
  max-height: 25px;
  overflow: hidden;
}
.details[open] {
  max-height: 500px;
}
.details[close]{
  transition: all 0.9s ease-in-out ;
}
.details[open] summary{
  padding-bottom: 20px;
}
summary{
  font-size: 18px;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
}
.ul__categorys{
  list-style: none;
}
.li__categorys{
  margin: 10px;
}
.items__ul--categorys{
  font-size: 18px;
  padding: 10px 0;
  color: #fff;
}
