.main__link--card {
  text-decoration: none;
  color: #000;
}
.info-container {
  width: 75%;
  min-height: 230px;
  /* margin-top: 30px; */
}
@media (min-width: 580px) {
  .info-container {
    margin-left: 5%;
    width: 35%;
  }
}
.container-card__detail-product {
  min-height: 400px;
  /* width: 75%; */
  min-height: 400px;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 580px) {
  .container-card__detail-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.container-card__detail-product img {
  margin-top: auto;
  width: 75%;
  /* height: 75%; */
  border-radius: 6px;
}
@media (min-width: 580px) {
  .container-card__detail-product img {
    max-width: 45%;
    min-height: 350px;
    max-height: 300px;
    margin-bottom: 30px;
    align-self: flex-end;
  }
}

.name-product {
  /* align-self: flex-start; */
  font-size: 22px;
  /* margin-top: 10px; */
  font-weight: 700;
  /* color: orange; */
}
.price-product {
  /* align-self: flex-start;
    font-size: 24px; */
  color: orange;
}
/* .short-description__product{
    align-self: flex-start;
} */
.detailed-description {
  font-size: 18px;
  
}


@media (min-width: 580px) {
  .container-btn-buy {
    width: 40%;
  }
}
